<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>Registration Form</h2>
        <form action="/form/registration">
            <label>Name: </label>
            <input type="text" name="FName"  id="name" placeholder="Enter your First Name" required>
            <br>
            <br>
            <label>Last Name: </label>
            <input type="text" name="LName" id="last name" placeholder="Enter your Last Name" required>
            <br>
            <br>
            <label>Email: </label>
            <input type="email" name="Email" id="email" placeholder="Enter your Email" required>
            <br>
            <br>
            <label>Gender: </label>
            <input type="radio" name="Gender" value="male" id="male" required>
            <label for="male">Male</label>
            <input type="radio" name="Gender" value="female" id="female" required>
            <label for="female">Female</label>
            <br>
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>